@import '/src/styles/variant';
@import '/src/styles/colors';

.auth-layout {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	background-image: url('../assets/images/bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	padding: 20px 0px;

	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		// background-color: #F9F9F9;
	}
}

.auth-container {
	min-width: 500px;
	padding: 30px;
	background-color: $white;
	border: 1px solid #DDDDDD;

	position: relative;
}
